

<title>Dimittens</title>
<link rel="stylesheet" href="css/pagina-inicial-logged.css">
</head>

<%- include("../partial/header") %>

<main>
    <%- include("../partial/quadrante-unlogged") %>

    <%- include("../partial/carroseltranstornos") %>

    <%- include("../partial/passoapasso") %>

    <%- include("../partial/comentarios") %>

    <%- include("../partial/planos") %>


    <%- include("../partial/rodape") %>


</main>